body{
    background: #303030;
  }
  .contenedor {
      -webkit-perspective: 1000px;
      perspective: 1000px;
      perspective-origin: 50% 50%;
  }
  
  .cubo, .cubo .cara, .cubo .cara-fondo {
      height: 18rem;
      width: 18rem;
  }
  
  .cubo {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  
      -webkit-transform: rotateX(0deg) rotateY(-30deg);
      transform: rotateX( 0deg ) rotateY( -30deg );
      margin: 150px auto;
  
      -webkit-animation: giro 20s infinite linear;
      animation: giro 20s infinite linear;
  }
  
  .cubo .cara {
      position: absolute;
      border: 5px solid rgb(230, 25, 25);
      border-radius: 25px;
      display: grid;
      grid-column: 1;
      grid-row: 1;
      grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine"
      ;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
  
  .dot {
    align-self: center;
    background-color: #072235;
    border-radius: 50%;
    /* box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5); */
    display: block;
    height: 2rem;
    width: 2rem;
    justify-self: center;
  }

  [data-side="1"] .dot:nth-of-type(1) {
    grid-area: five;
  }
  [data-side="2"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="2"] .dot:nth-of-type(2) {
    grid-area: nine;
  }
  [data-side="3"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="3"] .dot:nth-of-type(2) {
    grid-area: five;
  }
  [data-side="3"] .dot:nth-of-type(3) {
    grid-area: nine;
  }
  [data-side="4"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="4"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="4"] .dot:nth-of-type(3) {
    grid-area: seven;
  }
  [data-side="4"] .dot:nth-of-type(4) {
    grid-area: nine;
  }
  [data-side="5"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="5"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="5"] .dot:nth-of-type(3) {
    grid-area: five;
  }
  [data-side="5"] .dot:nth-of-type(4) {
    grid-area: seven;
  }
  [data-side="5"] .dot:nth-of-type(5) {
    grid-area: nine;
  }
  [data-side="6"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="6"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="6"] .dot:nth-of-type(3) {
    grid-area: four;
  }
  [data-side="6"] .dot:nth-of-type(4) {
    grid-area: six;
  }
  [data-side="6"] .dot:nth-of-type(5) {
    grid-area: seven;
  }
  [data-side="6"] .dot:nth-of-type(6) {
    grid-area: nine;
  }

  .cubo .cara img {
      border-radius: 25px;
  }
  
  .cubo .cara-fondo{
      background: rgb(215, 192, 192);
      position: absolute;
      border: 5px solid rgb(230, 25, 25);
      border-radius: 19px;
  
  }
  
  /*Cara frontal*/
  .cubo .cara:nth-child(1) {
      -webkit-transform: translateZ(150px);
      transform: translateZ(150px);
  }
  /*Cara posterior*/
  .cubo .cara:nth-child(2) {
      -webkit-transform: rotateY(180deg) translateZ(150px);
      transform: rotateY(180deg) translateZ(150px);
  }
  /*Cara izquierda*/
  .cubo .cara:nth-child(3) {
      -webkit-transform: rotateY(-90deg) translateZ(150px);
      transform: rotateY(-90deg) translateZ(150px);
  }
  /*Cara derecha*/
  .cubo .cara:nth-child(4) {
      -webkit-transform: rotateY(90deg) translateZ(150px);
      transform: rotateY(90deg) translateZ(150px);
  }
  /*Cara superior*/
  .cubo .cara:nth-child(5) {
      -webkit-transform: rotateX(90deg) translateZ(150px);
      transform: rotateX(90deg) translateZ(150px);
  }
  /*Cara inferior*/
  .cubo .cara:nth-child(6) {
      -webkit-transform: rotateX(-90deg) translateZ(150px);
      transform: rotateX(-90deg) translateZ(150px);
  }
  
  
  /************Caras posteriores*************/
  /*Cara frontal*/
  .cubo .cara-fondo:nth-child(7) {
      -webkit-transform: translateZ(149px);
      transform: translateZ(149px);
  }
  /*Cara posterior*/
  .cubo .cara-fondo:nth-child(8) {
      -webkit-transform: rotateY(180deg) translateZ(149px);
      transform: rotateY(180deg) translateZ(149px);
  }
  /*Cara izquierda*/
  .cubo .cara-fondo:nth-child(9) {
      -webkit-transform: rotateY(-90deg) translateZ(149px);
      transform: rotateY(-90deg) translateZ(149px);
  }
  /*Cara derecha*/
  .cubo .cara-fondo:nth-child(10) {
      -webkit-transform: rotateY(90deg) translateZ(149px);
      transform: rotateY(90deg) translateZ(149px);
  }
  /*Cara superior*/
  .cubo .cara-fondo:nth-child(11) {
      -webkit-transform: rotateX(90deg) translateZ(149px);
      transform: rotateX(90deg) translateZ(149px);
  }
  /*Cara inferior*/
  .cubo .cara-fondo:nth-child(12) {
      -webkit-transform: rotateX(-90deg) translateZ(149px);
      transform: rotateX(-90deg) translateZ(149px);
  }
  
  /*Caras interiores para formar una cruz en el centro*/
  .cubo .cara-fondo:nth-child(13) {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
  }
  
  .cubo .cara-fondo:nth-child(14) {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
  }
  
  .cubo .cara-fondo:nth-child(15) {
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
  }
  
  @-webkit-keyframes giro {
      0% { -webkit-transform: rotateX(-45deg) rotateY(0deg); }
      50% { -webkit-transform: rotateX(45deg) rotateY(360deg); }
      100% { -webkit-transform: rotateX(-45deg) rotateY(720deg); }
  }
  
  @keyframes giro {
      0% { transform: rotateX(-45deg) rotateY(0deg); }
      50% { transform: rotateX(45deg) rotateY(360deg); }
      100% { transform: rotateX(-45deg) rotateY(720deg); }
  }
  
  @-webkit-keyframes giro360 {
      0% { -webkit-transform: rotateX(  0deg) rotateY(  0deg); }
    100% { -webkit-transform: rotateX(360deg) rotateY(360deg); }
  }
  
  @keyframes giro360 {
      0% { transform: rotateX(  0deg) rotateY(  0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
  }